<div class="card">
    <img src="/images/icon.webp" class="icon">
    <div class="info">
        <p class="text"> {{name}} </p>
        <p class="text"> {{refno}} </p>
        <p class="text"> Php {{amount}} </p>
    </div>
    <button class="remove"> X </button>
</div>
