<!DOCTYPE html>
<html>
<head>
    <title> PayApp </title>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Rubik&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/js/index.js"></script>

</head>
<body>
    <div id="container">
        <h1> PayApp </h1>

        <div id="content">
            <form id="payment_form">
                <input type="text" name="name" id="name" class="field" placeholder="Name"> <br>
                <input type="number" name="refno" id="refno" class="field" placeholder="Reference Number"> <br>
                <input type="number" name="amount" id="amount" class="field" placeholder="Amount"> <br>
                <input type="button" name="submit" id="submit" value="SUBMIT">
            </form>

            <p id="error"></p>

            <!--
                TODO: Display all transactions here. Each transaction should be retrieved from the database and displayed through rendering `../partials/card.hbs`.
            -->
            <div id="cards">
            <!-- your code here -->
            </div>
        </div>
    </div>
</body>
</html>
